.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: #eee; */
  background: linear-gradient(50deg, #f16fd1 0%, #f2f3e4 35%, #BEE8D7 65%, #65eeee 90%);

  }
  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, .4);
    border: 30px solid rgba(0, 0, 0, .15);
    border-radius: 50px;
    padding: 10vh;
  }
  
  h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #000000;
    margin-bottom: 0.5em;
    border-radius: 20px;
    background: rgba(0, 0, 0, .15);

    padding: 10px;
  }
  
  h2 {
    text-transform: uppercase;
    /* margin-top: 1em; */
    font-size: 3rem;
    /* color: #797979; */
    /* margin-bottom: 0.5em; */
  }
  
  .gameArea {
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: auto auto auto;
    /* padding: 0 32px 32px 0; */
    background: rgba(255, 255, 255, .4);
    /* border: 20px solid rgba(255, 255, 255, .4); */
    border: 20px solid rgba(0, 0, 0, .15);
    border-radius: 50px;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 5px; */
  }
  
  .block {
    display: flex;
    width: 160px;
    height: 160px;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .15);
    color: #999999;
    font-size: 4.5rem;
    font-weight: 900;
    /* border: 3px solid black; */
    border-radius: 50px;
    transition: background 0.2s ease-in-out;
  }
  
  .block:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
  }
  
  /* .occupied:hover {
    background: #ff3a3a;
  } */
  
  /* .win {
    background: #0ff30f;
  }
  
  .win:hover {
    background: #0ff30f;
  } */
  
  /* #block_0,
  #block_1,
  #block_2 {
    border-top: none;
  }
  
  #block_0,
  #block_3,
  #block_6 {
    border-left: none;
  }
  
  #block_6,
  #block_7,
  #block_8 {
    border-bottom: none;
  }
  
  #block_2,
  #block_5,
  #block_8 {
    border-right: none;
  } */
  
  button {
    /* outline: none; */
    border: 2px solid #c2c2c2;
    border-radius: 5px;
    /* border: none; */
    background: #ffffff;
    padding: 20px 40px;
    font-size: 2rem;
    font-weight: bold;
    color: black;

    /* background: none; */
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(31, 31, 31, 0.5);
    /* background: green; */
  }
  
  /* .playerWin {
    color: green;
  }
  
  .computerWin {
    color: red;
  }
   */
  /* .draw {
    color: orangered;
  } */
  
  @media only screen and (max-width: 600px) {
  
    h1 {
      font-size: 3rem;
      margin-bottom: 0.5em;
    }
  
    /* h2 {
      font-size: 1.3rem;
    } */
  }